.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.question {
    grid-column: span 12;
    text-align: start;
    margin: 30px;
}
.input-class {
    grid-column: span 12;
}
.continue {
    grid-column: span 12;
    margin: 30px;
}
.footer {
    grid-column: span 12;
}
